In [126]:
import pandas as pd

In [202]:
df = pd.read_csv('sf-weather.csv')
display(df)
display(df.info())

,Date,Time,Temperature (F),Humdity,Wind Speed (mph),Rainfall (in),Condition,Visibility
0,2017-12-31,12:56 AM,49 °F,77 %,0 mph,0.0 in,Mostly Cloudy,10
1,2017-12-31,1:56 AM,46 °F,83 %,0 mph,0.0 in,Mostly Cloudy,10
2,2017-12-31,2:56 AM,46 °F,86 %,3 mph,0.0 in,Mostly Cloudy,10
3,2017-12-31,3:56 AM,48 °F,83 %,0 mph,0.0 in,Mostly Cloudy,10
4,2017-12-31,4:56 AM,47 °F,83 %,0 mph,0.0 in,Haze,10
...,...,...,...,...,...,...,...,...
1606,2018-3-1,7:56 PM,53 °F,69 %,25 mph,0.0 in,Partly Cloudy / Windy,10
1607,2018-3-1,8:56 PM,51 °F,74 %,23 mph,0.1 in,Mostly Cloudy / Windy,10
1608,2018-3-1,9:56 PM,50 °F,86 %,21 mph,0.2 in,Light Rain / Windy,10
1609,2018-3-1,10:56 PM,49 °F,90 %,16 mph,0.0 in,Cloudy,10
1610,2018-3-1,11:56 PM,49 °F,74 %,17 mph,0.0 in,Light Rain,10

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1611 non-null   object
 1   Time              1611 non-null   object
 2   Temperature (F)   1611 non-null   object
 3   Humdity           1611 non-null   object
 4   Wind Speed (mph)  1611 non-null   object
 5   Rainfall (in)     1611 non-null   object
 6   Condition         1611 non-null   object
 7   Visibility        1611 non-null   int64
dtypes: int64(1), object(7)
memory usage: 100.8+ KB

None

In [203]:
def extract_int(string):
    return int(string.split(' ')[0])

def extract_float(string):
    return float(string.split(' ')[0])

df['Temperature (F)'] = df['Temperature (F)'].apply(extract_int)
df['Humdity'] = df['Humdity'].apply(extract_int)
df['Wind Speed (mph)'] = df['Wind Speed (mph)'].apply(extract_int)
df['Rainfall (in)'] = df['Rainfall (in)'].apply(extract_float)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1611 non-null   object
 1   Time              1611 non-null   object
 2   Temperature (F)   1611 non-null   int64
 3   Humdity           1611 non-null   int64
 4   Wind Speed (mph)  1611 non-null   int64
 5   Rainfall (in)     1611 non-null   float64
 6   Condition         1611 non-null   object
 7   Visibility        1611 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 100.8+ KB

In [205]:


df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Time'])

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1611 non-null   datetime64[ns]
 1   Time              1611 non-null   datetime64[ns]
 2   Temperature (F)   1611 non-null   int64
 3   Humdity           1611 non-null   int64
 4   Wind Speed (mph)  1611 non-null   int64
 5   Rainfall (in)     1611 non-null   float64
 6   Condition         1611 non-null   object
 7   Visibility        1611 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(1)
memory usage: 100.8+ KB

In [207]:
import datetime

def to_correct_date(date, time):
    return datetime.datetime.combine(date.date(), time.time())

df.insert(0, 'Timestamp', df['Date'].combine(df['Time'], to_correct_date))
df = df.drop(['Date', 'Time'], axis = 1)

In [208]:
print(f'Targeted size: {24 * 61}')
df = df[df['Timestamp'].dt.minute == 56]
df

Targeted size: 1464

,Timestamp,Temperature (F),Humdity,Wind Speed (mph),Rainfall (in),Condition,Visibility
0,2017-12-31 00:56:00,49,77,0,0.0,Mostly Cloudy,10
1,2017-12-31 01:56:00,46,83,0,0.0,Mostly Cloudy,10
2,2017-12-31 02:56:00,46,86,3,0.0,Mostly Cloudy,10
3,2017-12-31 03:56:00,48,83,0,0.0,Mostly Cloudy,10
4,2017-12-31 04:56:00,47,83,0,0.0,Haze,10
...,...,...,...,...,...,...,...
1606,2018-03-01 19:56:00,53,69,25,0.0,Partly Cloudy / Windy,10
1607,2018-03-01 20:56:00,51,74,23,0.1,Mostly Cloudy / Windy,10
1608,2018-03-01 21:56:00,50,86,21,0.2,Light Rain / Windy,10
1609,2018-03-01 22:56:00,49,90,16,0.0,Cloudy,10
1610,2018-03-01 23:56:00,49,74,17,0.0,Light Rain,10

In [209]:
def convert_to_multiple(timestamp):
    base_time = timestamp - datetime.timedelta(minutes = 1)
    return [base_time - datetime.timedelta(minutes = 25), 
            base_time - datetime.timedelta(minutes = 20), 
            base_time - datetime.timedelta(minutes = 15),
            base_time - datetime.timedelta(minutes = 10), 
            base_time - datetime.timedelta(minutes = 5), 
            base_time, 
            base_time + datetime.timedelta(minutes = 5),
            base_time + datetime.timedelta(minutes = 10),
            base_time + datetime.timedelta(minutes = 15),
            base_time + datetime.timedelta(minutes = 20),
            base_time + datetime.timedelta(minutes = 25),
            base_time + datetime.timedelta(minutes = 30)]

df['Timestamp'] = df['Timestamp'].apply(convert_to_multiple)
df = df.explode('Timestamp')
df

,Timestamp,Temperature (F),Humdity,Wind Speed (mph),Rainfall (in),Condition,Visibility
0,2017-12-31 00:30:00,49,77,0,0.0,Mostly Cloudy,10
0,2017-12-31 00:35:00,49,77,0,0.0,Mostly Cloudy,10
0,2017-12-31 00:40:00,49,77,0,0.0,Mostly Cloudy,10
0,2017-12-31 00:45:00,49,77,0,0.0,Mostly Cloudy,10
0,2017-12-31 00:50:00,49,77,0,0.0,Mostly Cloudy,10
...,...,...,...,...,...,...,...
1610,2018-03-02 00:05:00,49,74,17,0.0,Light Rain,10
1610,2018-03-02 00:10:00,49,74,17,0.0,Light Rain,10
1610,2018-03-02 00:15:00,49,74,17,0.0,Light Rain,10
1610,2018-03-02 00:20:00,49,74,17,0.0,Light Rain,10
1610,2018-03-02 00:25:00,49,74,17,0.0,Light Rain,10

In [210]:
start_date = datetime.datetime(2018, 1, 1)
end_date = datetime.datetime(2018, 3, 1)
print(start_date)
print(end_date)
df = df[(df['Timestamp'].dt.date >= start_date.date()) & (df['Timestamp'].dt.date < end_date.date())]
df.reset_index(drop = True, inplace = True)
df

2018-01-01 00:00:00
2018-03-01 00:00:00

,Timestamp,Temperature (F),Humdity,Wind Speed (mph),Rainfall (in),Condition,Visibility
0,2018-01-01 00:00:00,53,86,6,0.0,Cloudy,10
1,2018-01-01 00:05:00,53,86,6,0.0,Cloudy,10
2,2018-01-01 00:10:00,53,86,6,0.0,Cloudy,10
3,2018-01-01 00:15:00,53,86,6,0.0,Cloudy,10
4,2018-01-01 00:20:00,53,86,6,0.0,Cloudy,10
...,...,...,...,...,...,...,...
16987,2018-02-28 23:35:00,52,86,15,0.1,Rain,10
16988,2018-02-28 23:40:00,52,86,15,0.1,Rain,10
16989,2018-02-28 23:45:00,52,86,15,0.1,Rain,10
16990,2018-02-28 23:50:00,52,86,15,0.1,Rain,10
16991,2018-02-28 23:55:00,52,86,15,0.1,Rain,10

In [211]:
def split_into(string):
    return string.split(' / ')
df['Condition'].apply(split_into)
df = df.join(pd.get_dummies(df['Condition'].apply(split_into).explode()).groupby(level=0).sum())
df = df.drop('Condition', axis = 1)
df

,Timestamp,Temperature (F),Humdity,Wind Speed (mph),Rainfall (in),Visibility,Cloudy,Fair,Fog,Haze,Heavy Rain,Light Rain,Mist,Mostly Cloudy,Partly Cloudy,Rain,Windy
0,2018-01-01 00:00:00,53,86,6,0.0,10,1,0,0,0,0,0,0,0,0,0,0
1,2018-01-01 00:05:00,53,86,6,0.0,10,1,0,0,0,0,0,0,0,0,0,0
2,2018-01-01 00:10:00,53,86,6,0.0,10,1,0,0,0,0,0,0,0,0,0,0
3,2018-01-01 00:15:00,53,86,6,0.0,10,1,0,0,0,0,0,0,0,0,0,0
4,2018-01-01 00:20:00,53,86,6,0.0,10,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16987,2018-02-28 23:35:00,52,86,15,0.1,10,0,0,0,0,0,0,0,0,0,1,0
16988,2018-02-28 23:40:00,52,86,15,0.1,10,0,0,0,0,0,0,0,0,0,1,0
16989,2018-02-28 23:45:00,52,86,15,0.1,10,0,0,0,0,0,0,0,0,0,1,0
16990,2018-02-28 23:50:00,52,86,15,0.1,10,0,0,0,0,0,0,0,0,0,1,0
16991,2018-02-28 23:55:00,52,86,15,0.1,10,0,0,0,0,0,0,0,0,0,1,0

In [215]:
df = df.rename(columns = {'Humdity' : 'Humidity', 'Temperature (F)' : 'Temp (F)'})
df.to_csv('sf-weather-cleaned.csv')

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16992 entries, 0 to 16991
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Timestamp         16992 non-null  datetime64[ns]
 1   Temp (F)          16992 non-null  int64
 2   Humidity          16992 non-null  int64
 3   Wind Speed (mph)  16992 non-null  int64
 4   Rainfall (in)     16992 non-null  float64
 5   Visibility        16992 non-null  int64
 6   Cloudy            16992 non-null  uint8
 7   Fair              16992 non-null  uint8
 8   Fog               16992 non-null  uint8
 9   Haze              16992 non-null  uint8
 10  Heavy Rain        16992 non-null  uint8
 11  Light Rain        16992 non-null  uint8
 12  Mist              16992 non-null  uint8
 13  Mostly Cloudy     16992 non-null  uint8
 14  Partly Cloudy     16992 non-null  uint8
 15  Rain              16992 non-null  uint8
 16  Windy             16992 non-null  uint8
dtypes: datetime64[ns](1), float64(1), int64(4), uint8(11)
memory usage: 979.2 KB